---
---

<div class="brands">
  <span>
    <svg viewBox="0 0 138 51" className="logo-ted">
      <g stroke="none" strokeWidth="1" fill="none" fillRule="evenodd">
        <g fillRule="nonzero" fill="#888">
          <path
            d="M115.49,0 C132.12,0.09765 138,12.397 138,24.972 C138,40.281 129.89,49.993 112.49,50 L90,50 L90,0 L115.49,0 Z M111.65,37.205 C121.23,37.205 122.63,29.446 122.63,24.759 C122.63,21.62 121.64,12.886 110.53,12.886 L105.64,12.886 L105.64,37.205 L111.65,37.205 L111.65,37.205 Z"
          ></path>
          <polygon
            points="44.996 0 88 0 88 12.936 62.008 12.936 62.008 17.994 88 17.994 88 31.976 62.008 31.976 62.008 36.975 88 36.975 88 50 44.996 50"
          ></polygon>
          <polygon
            points="13.08 12.92 0 12.92 0 0 43 0 43 12.92 30.009 12.92 30.009 50.026 13.08 50.026 13.08 12.92"
          ></polygon>
        </g>
      </g>
    </svg>
  </span>

  <span>
    <svg viewBox="0 0 1001 354" className="logo-comcast">
      <g stroke="none" strokeWidth="1" fill="none" fillRule="evenodd">
        <g fillRule="nonzero">
          <path
            d="M500.044,17.759 C503.732,11.737 509.851,5.436 516.44,2.771 C527.781,-2.389 542.982,-0.17 552.235,7.995 C561.189,16.107 565.731,27.225 563.588,39.655 C565.784,39.25 568.001,37.844 570.326,37.044 C584.225,33.121 598.925,37.375 607.837,49.292 C614.531,57.799 616.28,71.016 612.262,81.293 C610.268,86.462 606.867,91.11 602.445,95.076 L602.891,95.524 C615.822,96.152 628.53,106.194 632.452,118.506 C636.705,130.925 632.964,144.196 623.882,153.279 C616.462,160.613 606.921,163.151 596.315,162.937 L403.765,162.937 C387.955,163.278 375.739,156.274 369.162,142.215 C364.002,130.147 366.55,114.712 376.186,105.513 C382.262,99.159 389.874,96.557 398.082,95.247 C388.787,86.623 384.309,74.823 386.921,62.169 C388.787,51.915 397.528,41.532 407.569,37.95 C416.416,34.432 428.399,35.05 436.501,39.825 L436.789,39.473 C434.348,25.519 440.531,12.93 452.106,5.212 C462.426,-1.769 478.927,-1.589 489.032,5.832 C493.574,8.613 497.315,13.389 500.044,17.759"
            fill="#FFFFFF"></path>
          <path
            d="M554.558,22.972 C558.695,31.319 556.265,42.256 551.947,49.75 L518.539,124.913 L518.25,125.265 L506.174,49.015 C505.205,41.693 513.028,38.569 517.633,35.051 C517.399,33.975 516.215,34.028 515.47,33.527 L504.182,33.409 L503.839,33.068 C503.903,23.602 508.999,14.861 517.633,10.267 C526.653,5.055 539.358,6.472 547.182,13.156 C550.359,15.99 553.035,19.283 554.558,22.972"
            fill="#888"></path>
          <path
            d="M493.008,20.36 C495.738,25.413 497.316,31.149 496.356,37.501 L482.733,124.806 C482.807,124.912 482.68,125.03 482.572,125.082 L479.044,118.058 L444.9,41.808 C441.723,31.99 444.666,21.725 451.818,14.688 C459.024,7.376 470.878,5.393 480.302,9.359 C485.291,11.513 490.056,15.479 493.008,20.36"
            fill="#888"></path>
          <path
            d="M603.978,57.115 C608.572,64.949 607.539,76.804 602.431,84.074 C599.267,89.18 594.042,91.728 589.618,95.075 L518.87,143.64 L518.708,143.64 L519.498,141.317 L557,56.668 C562.618,46.69 573.342,41.637 584.684,43.161 C592.455,44.58 600.226,49.632 603.978,57.115"
            fill="#888"></path>
          <path
            d="M443.259,56.668 L482.285,143.631 L481.657,143.631 L402.977,89.404 C394.97,82.657 391.688,72.551 394.406,62.339 C396.442,54.685 402.795,47.533 410.353,44.696 C422.728,40.166 436.67,44.984 443.259,56.668"
            fill="#888"></path>
          <path
            d="M624.509,118.505 C628.431,126.788 626.886,138.13 621.279,145.175 C615.716,151.924 608.274,155.612 599.543,155.377 L515.65,155.431 L585.929,106.535 C592.796,102.111 603.232,101.31 610.726,104.892 C616.513,107.163 621.961,112.834 624.509,118.505"
            fill="#888"></path>
          <path
            d="M376.08,118.505 C372.169,126.788 373.703,138.13 379.321,145.175 C384.885,151.924 392.304,155.612 401.046,155.377 L484.939,155.431 L414.659,106.535 C407.794,102.111 397.359,101.31 389.875,104.892 C384.085,107.163 378.639,112.834 376.08,118.505"
            fill="#888"></path>
          <path
            d="M225.435,205.65 C184.672,205.65 151.542,238.802 151.542,279.566 C151.542,320.319 184.672,353.491 225.435,353.491 C266.199,353.491 299.351,320.319 299.351,279.566 C299.351,238.803 266.199,205.65 225.435,205.65 M225.435,338.93 C192.699,338.93 166.06,312.293 166.06,279.567 C166.06,246.85 192.699,220.212 225.435,220.212 C258.172,220.212 284.811,246.851 284.811,279.567 C284.811,312.293 258.172,338.93 225.435,338.93"
            fill="#888"></path>
          <path
            d="M862.724,280.504 C858.759,278.424 834.636,266.006 831.171,264.205 C818.518,257.734 814.03,252.02 814.03,242.341 C814.03,228.889 825.075,220.201 842.203,220.201 C852.257,220.201 861.977,224.625 867.681,227.833 C868.716,228.398 869.942,228.718 871.22,228.718 C875.207,228.718 878.48,225.446 878.48,221.459 C878.48,218.773 877.007,216.416 874.845,215.158 C867.661,211.149 855.411,205.66 842.203,205.66 C817.036,205.66 799.479,220.732 799.479,242.341 C799.479,261.732 812.228,270.878 824.701,277.253 C828.196,279.033 852.597,291.611 856.253,293.54 C865.89,298.582 871.22,306.151 871.22,314.861 C871.22,326.533 861.329,338.941 843.026,338.941 C825.223,338.941 811.398,327.002 807.582,323.324 L806.44,322.236 L795.685,332.043 L796.942,333.301 C801.717,338.036 819.179,353.491 843.026,353.491 C869.761,353.491 885.74,333.845 885.74,314.861 C885.74,300.684 877.361,288.156 862.724,280.504"
            fill="#888"></path>
          <path
            d="M73.895,220.211 C89.767,220.211 104.68,226.395 115.873,237.576 C118.538,240.23 123.548,240.23 126.17,237.576 C127.556,236.222 128.291,234.4 128.291,232.449 C128.291,230.519 127.556,228.675 126.17,227.321 L125.275,226.404 C111.438,213.015 93.178,205.65 73.895,205.65 C33.152,205.65 0,238.813 0,279.555 C0,320.32 33.152,353.492 73.895,353.492 C95.405,353.492 114.785,344.263 128.291,329.55 L118.004,319.253 C107.131,331.32 91.397,338.931 73.894,338.931 C41.168,338.931 14.529,312.283 14.529,279.556 C14.53,246.861 41.169,220.211 73.895,220.211"
            fill="#888"></path>
          <path
            d="M574.941,220.211 C590.793,220.211 605.726,226.395 616.918,237.576 C619.572,240.23 624.584,240.23 627.206,237.576 C628.592,236.222 629.359,234.4 629.359,232.449 C629.359,230.519 628.591,228.675 627.206,227.321 L626.321,226.404 C612.453,213.015 594.214,205.65 574.941,205.65 C534.189,205.65 501.025,238.812 501.025,279.554 C501.025,320.319 534.189,353.491 574.941,353.491 C596.441,353.491 615.821,344.262 629.348,329.549 L619.05,319.252 C608.177,331.319 592.421,338.93 574.941,338.93 C542.204,338.93 515.554,312.282 515.554,279.555 C515.554,246.861 542.204,220.211 574.941,220.211"
            fill="#888"></path>
          <path
            d="M449.741,205.65 C447.012,205.65 444.858,207.409 443.685,209.679 C442.491,211.949 400.193,316.576 400.183,316.576 C400.183,316.576 357.885,211.948 356.701,209.679 C355.518,207.408 353.366,205.65 350.637,205.65 C347.449,205.65 345.051,207.995 344.209,210.949 C343.367,213.922 319.5,345.602 319.5,345.602 C319.414,346.03 319.372,346.478 319.372,346.935 C319.372,350.558 322.325,353.491 325.928,353.491 C329.126,353.491 331.791,351.211 332.366,348.194 L353.035,235.53 C353.035,235.53 392.914,334.048 394.076,336.392 C395.249,338.727 397.423,340.55 400.195,340.55 C402.966,340.55 405.131,338.727 406.292,336.392 C407.465,334.047 447.343,235.53 447.343,235.53 L468.822,352.681 L482.17,352.681 C482.17,352.681 457.023,213.921 456.181,210.949 C455.326,207.995 452.927,205.65 449.741,205.65"
            fill="#888"></path>
          <path
            d="M712.527,205.66 C709.766,205.65 707.625,207.451 706.42,209.796 C705.225,212.131 651.682,344.378 651.682,344.378 C651.362,345.155 651.18,346.02 651.18,346.936 C651.18,350.559 654.112,353.502 657.736,353.502 C660.497,353.502 662.864,351.775 663.835,349.334 L684.62,298.2 L740.445,298.2 L762.619,352.681 L776.785,352.681 C776.785,352.681 719.798,212.13 718.626,209.795 C717.462,207.451 715.298,205.65 712.527,205.66 L712.527,205.66 Z M690.546,283.647 L712.526,229.601 L734.528,283.647 L690.546,283.647 Z"
            fill="#888"></path>
          <path
            d="M992.966,206.438 L910.673,206.438 C906.664,206.438 903.413,209.701 903.413,213.719 C903.413,217.716 906.664,220.978 910.673,220.978 L945.167,220.978 L945.167,352.67 L958.493,352.67 L958.493,220.979 L992.966,220.979 C996.975,220.979 1000.258,217.717 1000.258,213.72 C1000.258,209.701 996.975,206.438 992.966,206.438"
            fill="#888"></path>
        </g>
      </g>
    </svg>
  </span>

  <span>
    <svg viewBox="0 0 432 107" className="logo-wharton">
      <g stroke="none" strokeWidth="1" fill="none" fillRule="evenodd">
        <g fillRule="nonzero">
          <path
            d="M263.5,63 L263.5,49.2 C259,51.1 247.5,53.9 247.5,59.9 C247.5,63.9 250.5,67.2 254.6,67.2 C258.5,67.2 260.7,65.2 263.5,63 L263.5,63 Z M263.7,46.8 L263.7,36.2 C263.7,32.3 261.2,31.3 257.5,31.3 C253.9,31.3 248.8,33.7 248.8,35.8 C248.8,36.4 249,37.1 249,38.1 C249,41.8 248.1,44.3 243.8,44.3 C242,44.3 240.8,42.6 240.8,41 C240.8,38.9 242.3,36.8 244.4,35.1 C248.9,31.4 256,28.4 261.9,28.4 C268,28.4 271.2,32 271.2,37.8 L271.2,63.7 C271.2,65.3 271.2,68.3 273.5,68.3 C275.1,68.3 276,66.3 276.3,65 L277.9,65 C277.4,69.6 275.4,72.4 270.7,72.4 C267,72.4 263.9,69.1 263.8,65.7 C259.1,69.1 256,72.4 249.8,72.4 C245.2,72.4 241,68.8 241,64.2 C240.9,53.5 255.6,50.2 263.7,46.8 L263.7,46.8 Z"
            fill="#888"></path>
          <path
            d="M349.9,50.4 C349.9,57.9 352.7,70.2 362.4,70.2 C371.8,70.2 375.1,60.4 375.1,52.8 C375.1,44.6 373.9,30.5 362.5,30.5 C352.7,30.4 349.9,43.1 349.9,50.4 L349.9,50.4 Z M341.4,50 C341.4,38.3 349.8,28.3 362.1,28.3 C375.1,28.3 383.4,38.1 383.4,50.4 C383.4,63 375.3,72.3 362.2,72.3 C349,72.2 341.4,62.3 341.4,50 L341.4,50 Z"
            fill="#888"></path>
          <path
            d="M100.3,6.5 L100.3,4.3 L122.9,4.3 L122.9,6.5 C118.7,6.6 117.1,6.6 117.1,9.1 C117.1,9.2 117.2,9.9 117.6,10.8 L131.2,57 L150.3,2 L151.9,2 L168.6,56.3 C168.6,56.3 181.8,16.6 181.8,11 C181.8,6.6 179,6.9 175.4,6.5 L175.4,4.3 L189.2,4.3 C195.3,4.3 201.5,2.2 205,0.1 L205,35.2 C209.3,31.4 212.9,28.3 219.1,28.3 C223.7,28.3 227.9,30.3 230.2,34.2 C232.3,37.6 232.7,40.8 232.7,44.6 L232.7,64 C232.7,69 234,69 238.4,69.3 L238.4,71.1 L219.5,71.1 L219.5,69.3 C223.6,69 224.9,69 224.9,64 L224.9,44.5 C224.9,41.4 224.9,40 223.5,37.1 C221.9,34.3 219.1,31.6 215.5,32.2 C210,33.1 207.9,35.6 205.1,38.3 L205.1,64 C205.1,69 206.4,69 210.6,69.3 L210.6,71.1 L191.5,71.1 L191.5,69.3 C196,69 197.3,69 197.3,64 L197.3,7 C197.4,6.9 195.8,7 193.7,7 C186.1,7.5 185.9,13.3 183.5,20.2 L166.4,72.3 L164.6,72.3 L147.7,20.1 L128.2,72.3 L126.5,72.3 L108.5,15 C107.4,12 106.9,9.5 105.3,7.8 C104.3,7 104.2,6.4 100.3,6.5 L100.3,6.5 Z"
            fill="#888"></path>
          <path
            d="M403.5,71.2 L403.5,69.4 C399.2,69.1 397.9,69.1 397.9,64.1 L397.9,41.2 C397.9,36.7 403.9,32.7 408.1,32.7 C414.5,32.7 418,36.8 418,42.9 L418,64 C418,69 416.7,69 412.2,69.3 L412.2,71.1 L431.8,71.1 L431.8,69.3 C428.4,69 425.7,69 425.7,64 L425.7,41.1 C425.7,33.8 418.4,28.3 411.2,28.3 C404.9,28.3 401.8,31.2 397.7,35.3 L397.7,28.3 C393.4,29.8 388.9,32.1 384.3,32.7 L384.3,34.2 C388.4,34.6 389.9,36 389.9,39.6 L389.9,64 C389.9,69 388.6,69 384.1,69.3 L384.1,71.1 L403.5,71.1 L403.5,71.2 L403.5,71.2 Z"
            fill="#888"></path>
          <path
            d="M299.8,71.2 L299.8,69.4 C294.7,69.1 293.5,69.1 293.5,64.1 L293.5,38.4 C293.5,36.8 296.1,34.4 298.9,34.4 C301.5,34.4 301.9,37.4 305.2,37.4 C309.2,37.4 310.1,35.3 310.1,32.4 C310.1,29.4 306.9,27.7 303.2,27.7 C298.9,27.7 295.6,31.4 293.3,34.7 L293.3,28 C288.8,30.1 283.9,32 279.5,32.7 L279.5,34.2 C283.9,34.7 285.7,35.7 285.7,39.5 L285.7,64 C285.7,69 284.4,69 280.1,69.3 L280.1,71.1 L299.8,71.1 L299.8,71.2 L299.8,71.2 Z"
            fill="#888"></path>
          <path
            d="M341.2,30.7 L342.6,25.4 L325.5,25.4 L325.5,16.8 L324.5,16.8 C320.5,21.5 316.7,25.6 312.1,29.6 L312.1,30.7 L317.5,30.7 L317.5,59.9 C317.5,66.8 320.6,72.6 328.1,72.6 C334.5,72.6 339.4,67.9 342.1,64.8 L340.9,63.2 C338.6,65.8 335.5,67.3 332.7,67.3 C327,67.3 325.5,64.2 325.5,58.9 L325.5,30.8 L341.2,30.7 L341.2,30.7 Z"
            fill="#888"></path>
          <path
            d="M104.6,93.6 C104.6,96.9 105.5,99.4 109,99.4 C112.2,99.4 113.9,97.2 113.9,93.4 L113.9,86.8 C113.9,86.3 113.8,85.9 113.8,85.5 C113.7,84.7 112.9,84.3 111.8,84.2 L111.8,83.6 L117.4,83.6 L117.4,84.2 C116.3,84.3 115.5,84.6 115.4,85.5 C115.4,85.9 115.3,86.3 115.3,86.8 L115.3,93.5 C115.3,98.6 112.1,100.5 109,100.5 C104,100.5 102.4,97.9 102.4,93.7 L102.4,86.6 C102.4,84.4 102.5,84.5 100.4,84.3 L100.4,83.7 L106.8,83.7 L106.8,84.3 C104.7,84.6 104.8,84.4 104.8,86.6 L104.8,93.6 L104.6,93.6 L104.6,93.6 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M130.8,100.3 C127.9,96.9 124.9,93.3 121.9,89.8 L121.9,97.9 C121.9,98.3 122,98.6 122,98.9 C122.1,99.6 122.7,99.8 123.9,99.9 L123.9,100.4 L119.4,100.4 L119.4,99.9 C120.3,99.8 120.9,99.6 121,98.9 C121,98.6 121.1,98.3 121.1,97.9 L121.1,89.3 C120.6,88.6 120,88.1 119,88.1 L119,87.6 L122.3,87.6 C125,90.9 127.8,94.3 130.6,97.6 L130.6,97.6 L130.6,90.1 C130.6,89.7 130.5,89.4 130.5,89.1 C130.4,88.4 129.8,88.2 128.6,88.1 L128.6,87.6 L133.1,87.6 L133.1,88.1 C132.2,88.2 131.6,88.4 131.5,89.1 C131.5,89.4 131.4,89.7 131.4,90.1 L131.4,100.4 L130.8,100.4 L130.8,100.3 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M139.8,98 C139.8,99.7 139.7,99.6 141.4,99.8 L141.4,100.3 L136.5,100.3 L136.5,99.8 C138.1,99.6 138.1,99.7 138.1,98 L138.1,89.8 C138.1,88.1 138.2,88.2 136.5,88 L136.5,87.5 L141.4,87.5 L141.4,88 C139.8,88.2 139.8,88.1 139.8,89.8 L139.8,98 L139.8,98 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M149.3,88 C148.3,88 147.6,88.3 148.2,90 C148.9,92.2 150,95.3 150.9,98.1 C152.1,95.3 153.2,92.5 154.3,89.7 C154.8,88.5 154.3,88 153,88 L153,87.5 L156.9,87.5 L156.9,88 C156.4,88 155.8,88.2 155.4,89.1 C153.9,92.8 152.3,96.6 150.8,100.3 L149.9,100.3 C148.8,97.1 147.5,93.6 146.4,90.5 C145.7,88.5 145.2,88 144.3,88 L144.3,87.5 L149.3,87.5 L149.3,88 L149.3,88 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M159.8,99.8 C161.4,99.6 161.4,99.7 161.4,98 L161.4,89.8 C161.4,88.1 161.5,88.2 159.8,88 L159.8,87.5 L168,87.5 L168,90.4 L167.5,90.4 C167.3,89 166.9,88 165.6,88 L163.1,88 L163.1,93.2 L164.6,93.2 C165.8,93.2 166.2,92.7 166.3,91.6 L166.8,91.6 L166.8,95.5 L166.3,95.5 C166.3,94.4 165.8,93.8 164.6,93.8 L163.1,93.8 L163.1,97.9 C163.1,99.5 163.8,99.6 165.5,99.6 C168.2,99.6 168,98.8 168.9,96.9 L169.4,96.9 L168.9,100.2 L159.9,100.2 L159.8,99.8 L159.8,99.8 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M172.5,87.5 L177.8,87.5 C179.6,87.5 181.5,88.5 181.5,90.6 C181.5,92.5 180.4,93.8 178.9,94.3 L180.7,97 C181.6,98.3 182.6,99.6 183.3,100 L183.3,100.2 L181.4,100.2 C180.3,100.2 179.7,98.2 177.5,94.5 L175.8,94.5 L175.8,97.9 C175.8,99.6 175.7,99.5 177.4,99.7 L177.4,100.2 L172.5,100.2 L172.5,99.7 C174.1,99.5 174.1,99.6 174.1,97.9 L174.1,89.7 C174.1,88 174.2,88.1 172.5,87.9 L172.5,87.5 L172.5,87.5 Z M175.8,94 L177.3,94 C178.9,94 179.6,92.8 179.6,90.7 C179.6,88.7 178.5,88 177.2,88 L175.8,88 L175.8,94 L175.8,94 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M192.5,90.2 C192.4,88.9 191.7,87.9 190.2,87.9 C189.1,87.9 188.2,88.4 188.2,89.8 C188.2,91.1 189.5,91.8 191.3,93.2 C193.2,94.6 193.9,95.6 193.9,97.1 C193.9,99.3 191.7,100.5 189.5,100.5 C188.3,100.5 187.3,100.3 186.4,99.9 C186.3,99.9 186.3,99.8 186.3,99.6 L186.3,97 L186.8,97 C187,99 188.3,99.8 189.7,99.8 C191,99.8 192,98.8 192,97.5 C192,96.3 191.4,95.3 188.6,93.5 C187.6,92.8 186.4,92.1 186.4,90.1 C186.4,88.5 188.2,87.2 190.3,87.2 C191.1,87.2 192.1,87.3 192.9,87.5 C193,87.5 193,87.6 193,87.7 L193,90.1 L192.5,90.1 L192.5,90.2 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M201,98 C201,99.7 200.9,99.6 202.6,99.8 L202.6,100.3 L197.7,100.3 L197.7,99.8 C199.3,99.6 199.3,99.7 199.3,98 L199.3,89.8 C199.3,88.1 199.4,88.2 197.7,88 L197.7,87.5 L202.6,87.5 L202.6,88 C201,88.2 201,88.1 201,89.8 L201,98 L201,98 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M211.9,98 C211.9,99.7 211.8,99.6 213.5,99.8 L213.5,100.3 L208.6,100.3 L208.6,99.8 C210.2,99.6 210.2,99.7 210.2,98 L210.2,88.1 L208.6,88.1 C207,88.1 206.6,89.1 206,90.3 L205.5,90.3 L206,87.5 L216.1,87.5 L216.6,90.3 L216.1,90.3 C215.5,89.1 215.1,88.1 213.5,88.1 L211.9,88.1 L211.9,98 L211.9,98 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M221.9,99.8 C223.6,99.6 223.5,99.7 223.5,98 L223.5,95.2 L220.7,89.6 C220.1,88.4 219.6,88 218.7,88 L218.7,87.5 L223.4,87.5 L223.4,88 C222,88 222.1,88.7 222.6,89.6 L224.8,94.2 L227.3,89.6 C227.9,88.5 227.3,88 226.3,88 L226.3,87.5 L230.1,87.5 L230.1,88 C229.6,88 229.1,88.2 228.6,89.1 L225.5,94.6 C225.3,95 225.3,95.5 225.3,95.9 L225.3,97.9 C225.3,99.6 225.2,99.5 226.9,99.7 L226.9,100.2 L222,100.2 L222,99.8 L221.9,99.8 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M239.3,95.9 C239.3,92.8 242,88.2 245.9,88.2 C249,88.2 249.7,90.3 249.7,92.5 C249.7,95.1 247.6,100.6 243.1,100.6 C240.1,100.5 239.3,98.1 239.3,95.9 L239.3,95.9 Z M247.6,91.3 C247.6,88.8 246.1,88.7 245.7,88.7 C243.1,88.7 241.5,93.3 241.5,96.4 C241.5,97.6 241.7,99.9 243.5,99.9 C246.1,99.8 247.6,95.4 247.6,91.3 L247.6,91.3 Z"
            fill="#888"></path>
          <path
            d="M260.8,88.9 L260.2,89.4 L257.1,89.4 C255.9,95 254.1,102.5 252.7,106.1 L251.6,106.1 L255,89.4 L252.8,89.4 L253,88.4 L255.2,88.4 C256.4,83.4 260.6,82.8 261.6,82.8 C262.1,82.8 263.3,82.9 263.6,83.2 L263.3,84.8 L262.7,85.1 C262.4,84.5 261.6,83.7 260.6,83.7 C259.2,83.7 258.1,84.7 257.5,87.2 L257.2,88.3 L260.7,88.3 L260.8,88.9 L260.8,88.9 Z"
            fill="#888"></path>
          <path
            d="M275,97.3 C275,99.5 274.9,99.4 277,99.6 L277,100.2 L270.6,100.2 L270.6,99.6 C272.7,99.3 272.6,99.5 272.6,97.3 L272.6,86.6 C272.6,84.4 272.7,84.5 270.6,84.3 L270.6,83.7 L276.8,83.7 C280.7,83.7 282.7,85.3 282.7,88.1 C282.7,91.5 279.6,93.4 276,93.1 L276,92.6 C279,92.6 280.3,90.9 280.3,88.3 C280.3,85.7 279,84.4 276.4,84.4 L275,84.4 L275,97.3 L275,97.3 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M286,99.8 C287.6,99.6 287.6,99.7 287.6,98 L287.6,89.8 C287.6,88.1 287.7,88.2 286,88 L286,87.5 L294.2,87.5 L294.2,90.4 L293.7,90.4 C293.5,89 293.2,88 291.8,88 L289.3,88 L289.3,93.2 L290.8,93.2 C291.9,93.2 292.4,92.7 292.5,91.6 L293,91.6 L293,95.5 L292.5,95.5 C292.5,94.4 292,93.8 290.8,93.8 L289.3,93.8 L289.3,97.9 C289.3,99.5 290,99.6 291.7,99.6 C294.3,99.6 294.2,98.8 295.1,96.9 L295.6,96.9 L295,100.2 L286,100.2 L286,99.8 L286,99.8 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M309.7,100.3 C306.8,96.9 303.8,93.3 300.8,89.8 L300.8,97.9 C300.8,98.3 300.9,98.6 300.9,98.9 C301,99.6 301.6,99.8 302.8,99.9 L302.8,100.4 L298.3,100.4 L298.3,99.9 C299.2,99.8 299.8,99.6 299.9,98.9 C299.9,98.6 300,98.3 300,97.9 L300,89.3 C299.5,88.6 298.9,88.1 297.9,88.1 L297.9,87.6 L301.2,87.6 C303.9,90.9 306.8,94.3 309.5,97.6 L309.5,97.6 L309.5,90.1 C309.5,89.7 309.4,89.4 309.4,89.1 C309.3,88.4 308.7,88.2 307.5,88.1 L307.5,87.6 L312,87.6 L312,88.1 C311.1,88.2 310.5,88.4 310.4,89.1 C310.4,89.4 310.3,89.7 310.3,90.1 L310.3,100.4 L309.7,100.4 L309.7,100.3 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M326.4,100.3 C323.5,96.9 320.5,93.3 317.5,89.8 L317.5,97.9 C317.5,98.3 317.6,98.6 317.6,98.9 C317.7,99.6 318.3,99.8 319.5,99.9 L319.5,100.4 L315,100.4 L315,99.9 C315.9,99.8 316.5,99.6 316.6,98.9 C316.6,98.6 316.7,98.3 316.7,97.9 L316.7,89.3 C316.2,88.6 315.6,88.1 314.6,88.1 L314.6,87.6 L317.9,87.6 C320.6,90.9 323.5,94.3 326.2,97.6 L326.2,97.6 L326.2,90.1 C326.2,89.7 326.1,89.4 326.1,89.1 C326,88.4 325.4,88.2 324.2,88.1 L324.2,87.6 L328.7,87.6 L328.7,88.1 C327.8,88.2 327.2,88.4 327.1,89.1 C327.1,89.4 327,89.7 327,90.1 L327,100.4 L326.4,100.4 L326.4,100.3 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M338.3,90.2 C338.2,88.9 337.5,87.9 336,87.9 C334.9,87.9 334,88.4 334,89.8 C334,91.1 335.3,91.8 337.1,93.2 C339,94.6 339.7,95.6 339.7,97.1 C339.7,99.3 337.5,100.5 335.3,100.5 C334.1,100.5 333.1,100.3 332.2,99.9 C332.1,99.9 332.1,99.8 332.1,99.6 L332.1,97 L332.6,97 C332.8,99 334.1,99.8 335.5,99.8 C336.8,99.8 337.9,98.8 337.9,97.5 C337.9,96.3 337.3,95.3 334.5,93.5 C333.5,92.8 332.3,92.1 332.3,90.1 C332.3,88.5 334.1,87.2 336.2,87.2 C337,87.2 338,87.3 338.8,87.5 C338.9,87.5 338.9,87.6 338.9,87.7 L338.9,90.1 L338.3,90.1 L338.3,90.2 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M345.6,99.8 C347.2,99.6 347.2,99.7 347.2,98 L347.2,95.2 L344.4,89.6 C343.8,88.4 343.3,88 342.5,88 L342.5,87.5 L347.2,87.5 L347.2,88 C345.8,88 345.9,88.7 346.4,89.6 L348.6,94.2 L351.1,89.6 C351.7,88.5 351.1,88 350.1,88 L350.1,87.5 L353.9,87.5 L353.9,88 C353.4,88 352.9,88.2 352.4,89.1 L349.4,94.6 C349.2,95 349.2,95.5 349.2,95.9 L349.2,97.9 C349.2,99.6 349.1,99.5 350.8,99.7 L350.8,100.2 L345.9,100.2 L345.9,99.8 L345.6,99.8 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M356.9,99.8 C358.5,99.6 358.5,99.7 358.5,98 L358.5,89.8 C358.5,88.1 358.6,88.2 356.9,88 L356.9,87.5 L361.8,87.5 L361.8,88 C360.2,88.2 360.2,88.1 360.2,89.8 L360.2,98.3 C360.2,99.6 360.9,99.7 362.5,99.7 C365.1,99.7 365,98.9 365.9,97 L366.4,97 L365.9,100.3 L356.9,100.3 L356.9,99.8 L356.9,99.8 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M371.7,88 C370.7,88 370,88.3 370.6,90 C371.3,92.2 372.4,95.3 373.3,98.1 C374.5,95.3 375.6,92.5 376.7,89.7 C377.2,88.5 376.7,88 375.4,88 L375.4,87.5 L379.3,87.5 L379.3,88 C378.8,88 378.2,88.2 377.8,89.1 C376.3,92.8 374.7,96.6 373.2,100.3 L372.3,100.3 C371.2,97.1 369.9,93.6 368.8,90.5 C368.1,88.5 367.6,88 366.7,88 L366.7,87.5 L371.7,87.5 L371.7,88 L371.7,88 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M382.8,96 L382,98.4 C381.8,99.1 382.1,99.7 382.9,99.7 L382.9,100.2 L379.6,100.2 L379.6,99.7 C380.1,99.7 380.6,99.4 380.9,98.8 C381.7,97.2 383.8,91.2 385.3,87.2 L386.3,87.2 C387.5,90.9 389.4,96.5 390,98.1 C390.4,99.1 390.7,99.7 391.5,99.7 L391.5,100.2 L387.2,100.2 L387.2,99.7 C388.4,99.7 388.5,99.1 388.2,98.3 L387.4,95.9 L382.8,96 L382.8,96 Z M387.2,95.3 L385.3,89.4 L385.3,89.4 L383.1,95.3 L387.2,95.3 L387.2,95.3 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M405.3,100.3 C402.4,96.9 399.4,93.3 396.4,89.8 L396.4,97.9 C396.4,98.3 396.5,98.6 396.5,98.9 C396.6,99.6 397.2,99.8 398.4,99.9 L398.4,100.4 L393.9,100.4 L393.9,99.9 C394.8,99.8 395.4,99.6 395.5,98.9 C395.5,98.6 395.6,98.3 395.6,97.9 L395.6,89.3 C395.1,88.6 394.5,88.1 393.5,88.1 L393.5,87.6 L396.8,87.6 C399.5,90.9 402.3,94.3 405.1,97.6 L405.1,97.6 L405.1,90.1 C405.1,89.7 405,89.4 405,89.1 C404.9,88.4 404.3,88.2 403.1,88.1 L403.1,87.6 L407.6,87.6 L407.6,88.1 C406.7,88.2 406.1,88.4 406,89.1 C406,89.4 405.9,89.7 405.9,90.1 L405.9,100.4 L405.3,100.4 L405.3,100.3 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M413.9,98 C413.9,99.7 413.8,99.6 415.5,99.8 L415.5,100.3 L410.6,100.3 L410.6,99.8 C412.2,99.6 412.2,99.7 412.2,98 L412.2,89.8 C412.2,88.1 412.3,88.2 410.6,88 L410.6,87.5 L415.5,87.5 L415.5,88 C413.9,88.2 413.9,88.1 413.9,89.8 L413.9,98 L413.9,98 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <path
            d="M421.5,96 L420.7,98.4 C420.5,99.1 420.8,99.7 421.6,99.7 L421.6,100.2 L418.3,100.2 L418.3,99.7 C418.8,99.7 419.3,99.4 419.6,98.8 C420.4,97.2 422.5,91.2 424,87.2 L425,87.2 C426.2,90.9 428.1,96.5 428.7,98.1 C429.1,99.1 429.4,99.7 430.2,99.7 L430.2,100.2 L426,100.2 L426,99.7 C427.2,99.7 427.3,99.1 427,98.3 L426.2,95.9 L421.5,96 L421.5,96 Z M425.9,95.3 L424,89.4 L424,89.4 L421.8,95.3 L425.9,95.3 L425.9,95.3 Z"
            stroke="#004784"
            strokeWidth="0.2258"
            fill="#888"></path>
          <g id="Group" transform="translate(0.000000, 4.000000)">
            <path
              d="M1.1,1.4 L89.9,1.4 L89.9,45.7 C89.9,45.7 91,63.1 77.7,78.3 C61.2,97.1 45.7,101.2 45.7,101.2 C45.7,101.2 32,97.5 15.6,80.9 C-0.2,64.9 1.1,46.3 1.1,46.3 C1.1,46.3 1.1,1.4 1.1,1.4 Z"
              fill="#FFFFFF"></path>
            <path
              d="M2.4,28.9 C2.4,27 2.4,4.4 2.4,2.5 C4.5,2.5 86.8,2.5 88.9,2.5 C88.9,4.4 88.9,28.9 88.9,28.9 L2.4,28.9 Z M42.7,20.8 C43.3,21 45.3,22 46.9,22.9 C48.1,23.5 49.1,24 49.5,24.2 C49.6,24.2 49.8,24.3 50,24.4 C51.3,25.1 54.3,26.7 58.6,25.9 C58.7,25.9 62,25.4 63.8,22.8 C64.9,21.2 65.5,19.1 64.7,16.7 C62.6,10 65.1,7.1 65.1,7.1 C65.1,7.1 62.8,6.2 60.6,7.6 C59.3,8.4 58.7,9.9 58.6,12.2 C57.8,12.4 56.5,12.7 55.8,13.9 C55.1,15 55.2,16.4 55.9,18.1 L56.3,19 L56.9,18.2 C57.4,17.4 59,17 59.7,17.4 C60.5,17.9 60.5,18.8 60.4,19.4 C60.3,19.9 60.2,20.4 59.9,20.7 C59.3,21.2 58.2,21.4 56.9,21.2 C56.2,21.1 55.3,20.8 54.5,20.1 C54.1,19.7 54.1,19.3 53.6,18.9 C53.2,18.6 53.5,17.9 53.6,17.6 C53.8,17 54,16.2 53.6,15.4 C53,14.4 52.4,14.2 51.9,14.1 C51.6,14 51.5,14 51.3,13.8 C51.1,13.6 51.1,13.2 51.2,12.7 C51.3,12 51.4,11.1 50.8,10.4 C49.9,9.4 49.1,9.5 48.4,9.5 C48,9.5 47.6,9.5 47.1,9.3 C46.9,9.2 46.9,9.1 46.8,8.7 C46.6,8.1 46.4,7.1 44.8,6.5 C43.8,6.1 43.1,6.5 42.6,6.7 C42.3,6.9 42,7 41.7,7 C41.5,7 41.5,7 41.2,6.6 C40.8,6.1 40.3,5.4 38.8,5.6 C38,5.7 37.4,6.4 37.1,6.9 C37,7 36.9,7.2 36.8,7.2 C36.7,7.2 36.7,7.2 36.6,7.1 C36,6.7 35,6.1 33.8,6.8 C33.1,7.2 32.4,8.2 32.4,8.2 C32.2,8.6 32,8.8 31.8,8.9 L31.4,8.2 C29.8,9 26.7,16.2 26.7,17.7 C26.7,18.6 27.2,19 27.5,19.2 C27.8,19.4 27.9,19.5 27.9,19.9 C27.9,20.1 27.6,20.4 27.4,20.7 C27.1,21.1 26,22.6 27.3,23.9 L28.1,24.1 C28.4,25.3 29.3,25.7 30.6,25.7 C32.7,25.7 34.7,24.3 36,23.3 L36.2,23.2 C37,22.6 37.9,22.1 38.2,20.8 C38.5,20.6 39.2,20.3 40.4,20.3 C40.7,20.3 41.6,20.5 42.7,20.8 L42.7,20.8 Z"
              fill="#A80533"></path>
            <path
              d="M50,24.5 C49.8,24.4 49.6,24.3 49.5,24.3 C49.1,24.1 48.1,23.6 46.9,23 C45.3,22.2 43.3,21.1 42.7,20.9 C39.8,20 38.3,20.6 37.9,21 C37.7,22.3 36.8,22.8 35.9,23.4 L35.7,23.5 C34.4,24.4 32.4,25.9 30.3,25.9 C29,25.9 28.1,25.5 27.8,24.3 L27,24 C25.7,22.7 26.8,21.2 27.1,20.8 C27.3,20.5 27.6,20.2 27.6,20 C27.6,19.5 27.5,19.5 27.2,19.3 C26.9,19.1 26.4,18.7 26.4,17.8 C26.4,16.3 29.5,9.1 31.1,8.3 L31.5,9 C31.8,8.9 31.9,8.7 32.1,8.3 C32.1,8.3 32.7,7.2 33.5,6.9 C34.7,6.3 35.7,6.9 36.3,7.2 C36.4,7.3 36.4,7.4 36.5,7.3 C36.6,7.2 36.7,7.1 36.8,7 C37.2,6.5 37.7,5.8 38.5,5.7 C40,5.6 40.6,6.3 40.9,6.7 C41.2,7 41.2,7.1 41.4,7.1 C41.8,7.1 42,6.9 42.3,6.8 C42.8,6.5 43.4,6.2 44.5,6.6 C46.2,7.2 46.4,8.1 46.5,8.8 C46.6,9.2 46.6,9.3 46.8,9.4 C47.3,9.6 47.6,9.6 48.1,9.6 C48.8,9.6 49.6,9.5 50.5,10.5 C51.2,11.2 51,12.1 50.9,12.8 C50.8,13.4 50.8,13.7 51,13.9 C51.2,14.1 51.4,14.1 51.6,14.2 C52.1,14.3 52.7,14.5 53.3,15.5 C53.7,16.3 53.5,17.1 53.3,17.7 C53.2,18.1 52.9,18.8 53.3,19 C53.9,19.4 53.8,19.9 54.2,20.2 C55,20.9 56,21.2 56.6,21.3 C57.9,21.5 59,21.3 59.6,20.8 C59.9,20.5 60,20 60.1,19.5 C60.2,19 60.2,18 59.4,17.5 C58.7,17.1 57.2,17.6 56.6,18.3 L56,19.1 L55.6,18.2 C54.9,16.5 54.9,15.1 55.5,14 C56.2,12.8 57.5,12.4 58.3,12.3 C58.3,10 59,8.5 60.3,7.7 C62.5,6.3 64.8,7.2 64.8,7.2 C64.8,7.2 62.3,10 64.4,16.8 C65.1,19.2 64.6,21.3 63.5,22.9 C61.7,25.5 58.4,26 58.3,26 C57.5,26.1 56.8,26.2 56.1,26.2 C53.2,26.2 51,25 50,24.5 M30.6,24.8 C32.4,24.5 33.9,23.4 35.1,22.5 L35.3,22.4 C35.8,22 36.4,21.7 36.7,21.2 C36.8,21 36.8,20.6 36.7,20.6 C36.5,20.5 36.3,20.4 35.9,20.4 C35.7,20.4 35.3,20.2 35.3,19.8 C35.2,19.4 35.7,19.1 36,18.9 C37.2,18.4 38,17.9 38.2,17.7 L38.2,17.7 L38.2,17.7 L38.2,17.6 C38.2,17.6 38.2,17.6 38.2,17.7 C37.7,17.2 37.3,16.7 37.1,16.3 C36.9,16.1 36.8,15.9 36.7,15.7 C36.2,15.2 35.7,14.9 34.9,14.9 C34.4,14.9 33.8,15.7 33.2,15.9 C32.4,16.2 32.2,15.4 32.4,14.9 C32.6,14.4 33.1,14.4 33.1,13.8 C33.1,12.8 32.6,11.7 32,10.7 C31.8,10.1 31.2,10.1 31.2,10.1 C30.1,10.6 27.6,16.2 27.6,17.6 C27.6,18 27.7,18 27.9,18.2 C28.2,18.4 28.7,18.8 28.7,19.8 C28.7,20.4 28.3,20.9 27.9,21.3 C27.7,21.5 27.4,21.8 27.4,22 C27.4,22.6 27.4,23 28.8,23 C29.6,23 30.3,22.8 30.8,22.6 C31.6,22.2 32.5,21.4 32.8,20.8 C33.2,20.3 33.9,20.7 33.8,21.2 C33.4,22.2 32,22.8 31.2,23.4 C30.2,24.1 28.9,23.9 28.9,23.9 C28.7,24.3 29.6,25 30.6,24.8"
              fill="#888"></path>
            <path
              d="M52.3,18.1 C51,16.5 49.8,14.8 49.3,14.1 C49.1,13.9 49.1,13.8 49,13.7 L48.9,13.5 C48.1,12.5 45.8,9.5 39.9,9.1 C39.3,9.1 34.7,9.2 33.1,10.7 C33,10.6 33,10.5 32.9,10.3 L32.6,9.5 C32.9,9.2 33,8.9 33.2,8.7 C33.4,8.3 33.6,7.9 34.1,7.7 C34.8,7.4 35.2,7.6 35.8,8 C36,8.1 36.2,8.2 36.3,8.3 C36.9,8.5 37.3,8 37.7,7.5 C38,7.1 38.3,6.7 38.7,6.7 C39.6,6.6 39.9,6.9 40.2,7.3 C40.5,7.6 40.9,8.1 41.7,8.1 C42.3,8.1 42.7,7.8 43,7.7 C43.4,7.5 43.7,7.3 44.3,7.5 C45.4,7.9 45.5,8.3 45.6,8.9 C45.7,9.3 45.8,9.9 46.5,10.2 C47.2,10.6 47.9,10.6 48.4,10.5 C49,10.5 49.4,10.4 49.9,11 C50.2,11.3 50.2,11.8 50.1,12.4 C50,13 49.9,13.8 50.5,14.5 C50.9,14.9 51.3,15 51.6,15.1 C52,15.2 52.3,15.3 52.6,15.9 C52.8,16.3 52.7,16.7 52.5,17.2 C52.4,17.5 52.3,17.8 52.3,18.1 L52.3,18.1 Z"
              fill="#FFFFFF"></path>
            <path
              d="M37.5,15.2 C37.8,14.9 38.2,14.7 38.7,14.5 C38.9,14.4 39.2,14.5 39.5,14.7 C39.9,15 40.2,15.4 40.3,15.9 L40.5,16.8 L41.2,16.3 C41.4,16.1 42.2,15.7 42.7,15.9 C43.1,16 43.4,16.5 43.6,17.2 L43.8,18 L44.5,17.5 C44.9,17.2 45.3,17 45.5,17.1 C45.8,17.2 46,17.7 46.2,18.1 C46.3,18.3 46.4,18.5 46.5,18.6 C46.8,19.2 47.4,19.2 47.8,19.2 C48.2,19.2 48.4,19.2 48.5,19.9 C48.6,20.3 49.8,20.4 49.6,19.7 C49.2,18.2 48.3,18.1 47.8,18.1 C47.5,18.1 47.5,18.1 47.4,18 C47.3,17.9 47.3,17.7 47.2,17.6 C46.9,17 46.5,16.2 45.7,16 C45.3,15.9 44.9,16 44.4,16.2 C44.1,15.5 43.6,15 43.1,14.8 C42.4,14.6 41.7,14.8 41.2,15 C41,14.5 40.6,14 40.1,13.7 C39.5,13.4 38.9,13.2 38.4,13.4 C37.7,13.6 37.2,13.9 36.8,14.3 C36.4,13.9 34.2,13.9 34.2,13.9 C34.2,13.1 34,12.4 33.7,11.7 C33.8,10.9 38.1,10.1 40,10.2 C45.4,10.5 47.4,13.1 48.2,14.1 L48.3,14.3 C48.3,14.3 48.4,14.5 48.5,14.6 C49.1,15.5 50.5,17.5 52.1,19.2 C52.5,19.7 53.4,20.6 53.8,20.9 C54.8,21.7 55.8,22.1 56.8,22.2 C58.5,22.5 59.9,22.2 60.8,21.4 C61.4,20.9 61.5,20.1 61.6,19.3 C61.7,18.2 61.6,16.4 59.8,16.2 C58.7,16.1 57.6,16.4 56.9,17.1 C56.6,16.1 56.7,15.1 57,14.4 C57.6,13.3 59,13.1 59.4,13.1 L59.9,13 L59.9,12.5 C59.9,10.6 60.3,9.2 61.2,8.5 C61.9,8 62.8,7.6 63.6,7.6 C63.2,9.1 62.3,11.8 63.8,16.7 C64.4,18.8 64,20.6 63.1,21.9 C61.6,24.1 58.6,24.6 58.6,24.6 L58.7,24.6 L58.6,24.6 L58.5,24.6 C54.6,25.3 51.9,23.9 50.6,23.2 C50.4,23.1 50.2,23 50,22.9 C49.6,22.7 48.6,22.2 47.5,21.6 C45.3,20.5 43.8,19.6 43.1,19.4 C40,18.4 38.3,19 37.5,19.5 L37.1,19.4 C38.8,18.7 39.2,18.2 39.3,17.5 C39.4,17.2 39.3,16.8 39,16.6 C38.6,16.2 38.2,15.7 37.9,15.3 C37.8,15.5 37.6,15.3 37.5,15.2"
              fill="#FFFFFF"></path>
            <path
              d="M29,24 C29,24 30.3,24.2 31.3,23.5 C32.1,22.9 33.5,22.3 33.9,21.3 C34,20.8 33.3,20.4 32.9,20.9 C32.6,21.5 31.7,22.3 30.9,22.7 C30.4,22.9 29.7,23.1 28.9,23.1 C27.5,23.1 27.5,22.7 27.5,22.1 C27.5,21.9 27.8,21.7 28,21.4 C28.4,21 28.8,20.5 28.8,19.9 C28.8,18.9 28.3,18.5 28,18.3 C27.7,18.1 27.7,18.1 27.7,17.7 C27.7,16.3 30.2,10.7 31.3,10.2 C31.3,10.2 31.9,10.3 32.1,10.8 C32.6,11.8 33.2,12.8 33.2,13.9 C33.2,14.5 32.7,14.5 32.5,15 C32.3,15.4 32.5,16.2 33.3,16 C33.9,15.8 34.5,15 35,15 C35.8,15 36.3,15.2 36.8,15.8 C36.9,15.9 37.1,16.1 37.2,16.4 C37.5,16.8 37.9,17.3 38.3,17.8 C38.1,18 37.3,18.6 36.1,19 C35.8,19.2 35.3,19.4 35.4,19.9 C35.4,20.2 35.8,20.4 36,20.5 C36.3,20.5 36.6,20.6 36.8,20.7 C36.9,20.7 36.9,21.2 36.8,21.3 C36.5,21.8 36,22.2 35.4,22.5 L35.2,22.6 C34,23.5 32.5,24.6 30.7,24.9 C30.6,24.9 30.5,24.9 30.4,24.9 C29.5,24.8 28.8,24.3 29,24"
              fill="#FFFFFF"></path>
            <path
              d="M30.7,19.7 C30.6,19.6 30.6,19.1 30.7,18.9 C30.8,18.4 31.1,18 31.4,17.8 C31.4,17.8 32.6,17 32.8,17.1 C32.9,17.1 32.5,17.9 32.5,18 C32.6,18.7 32.3,19.1 32.3,19.1 C32.3,19.1 32,19.8 31.6,20 C31.5,20 31.4,20.1 31.3,20.1 C31,20.1 30.8,20 30.7,19.7"
              fill="#004784"></path>
            <path
              d="M0,0.1 L0,45.7 C0,82.9 40.5,101.8 45.6,101.9 C50.8,101.7 91.3,82.9 91.3,45.7 L91.3,0.1 L0,0.1 Z M16.6,65.2 C16.6,60.6 20.5,56.9 25.4,56.9 C30.2,56.9 34.2,60.6 34.2,65.2 C34.2,69.8 30.3,73.5 25.4,73.5 C20.5,73.5 16.6,69.8 16.6,65.2 Z M21.4,85 L45.7,59.9 L70,85 C59.5,94.6 48.1,99.6 45.7,99.7 C43.2,99.6 31.8,94.6 21.4,85 Z M36.6,47.5 C36.6,42.8 40.6,39 45.5,39 C50.4,39 54.5,42.8 54.5,47.5 C54.5,52.2 50.5,56 45.5,56 C40.6,55.9 36.6,52.1 36.6,47.5 Z M65.7,73.5 C60.9,73.5 56.9,69.8 56.9,65.2 C56.9,60.6 60.8,56.9 65.7,56.9 C70.6,56.9 74.5,60.6 74.5,65.2 C74.5,69.8 70.5,73.5 65.7,73.5 Z M88.9,45.8 C88.9,53.8 86.9,60.9 83.7,67.2 L45.7,31 L7.6,67.2 C4.4,60.9 2.4,53.8 2.4,45.8 L2.4,31 L88.9,31 L88.9,45.8 Z M88.9,28.9 L2.4,28.9 L2.4,2.5 L88.9,2.5 L88.9,28.9 Z"
              fill="#888"></path>
            <g transform="translate(4.000000, 6.000000)">
              <path
                d="M10.6,1.7 C11.5,1.7 12.1,0.9 13.4,0.9 C15.1,0.9 15.7,1.9 17.4,2.3 L19.7,2.3 C19.7,2.3 19.7,3.2 19.7,3.8 C19.7,4.4 20.9,4.3 20.9,5.6 C20.9,7 19.8,6.9 19.8,7.4 L19.8,11 C19.8,11.5 21,11.5 21,12.7 C21,13.7 19.8,13.8 19.8,14.5 L19.8,16.5 L1.7,16.5 L1.7,14.5 C1.7,13.8 0.5,13.7 0.5,12.7 C0.5,11.5 1.7,11.4 1.7,11 L1.7,7.4 C1.7,6.8 0.6,6.9 0.6,5.6 C0.6,4.3 1.8,4.4 1.8,3.8 C1.8,3.2 1.8,2.6 1.8,2.3 L1.8,2.3 L4.1,2.3 C5.8,1.9 6.4,0.9 8.2,0.9 C9.2,0.9 9.7,1.7 10.6,1.7 L10.6,1.7 Z"
                fill="#FFFFFF"></path>
              <path
                d="M10,0.8 L11.2,0.8 C12.2,0.2 13.2,0 14.1,0.1 C15,0.2 16.1,1.2 17.3,1.4 C17.6,1.4 18.4,1.4 18.4,1.4 L18.4,13.9 L11.9,13.9 C11.9,14.7 10.9,14.8 10.7,14.8 C10.5,14.8 9.5,14.7 9.5,13.9 L3,13.9 L3,1.4 C3,1.4 3.8,1.4 4.1,1.4 C5.3,1.2 6.4,0.2 7.3,0.1 C8.1,0 9,0.2 10,0.8 L10,0.8 Z"
                fill="#888"></path>
              <path
                d="M4,12.8 L4,2.3 C5.2,2.1 6.3,1.1 7.2,1 C8.1,0.9 9.1,1.1 10.1,1.7 L10.1,11.8 C9.3,11.8 8.1,12.4 7.5,12.7 C6.8,12.9 4,12.8 4,12.8 L4,12.8 Z"
                fill="#FFFFFF"></path>
              <path
                d="M17.2,12.8 C17.2,12.8 14.4,12.9 13.8,12.6 C13.2,12.3 11.9,11.7 11.2,11.7 L11.2,1.6 C12.2,1 13.2,0.8 14.1,0.9 C15,1 16.1,2 17.3,2.2 L17.3,12.8 L17.2,12.8 L17.2,12.8 Z"
                fill="#FFFFFF"></path>
            </g>
            <g transform="translate(66.000000, 6.000000)">
              <path
                d="M10.3,1.7 C11.2,1.7 11.8,0.9 13.1,0.9 C14.8,0.9 15.4,1.9 17.2,2.3 L19.5,2.3 C19.5,2.3 19.5,3.2 19.5,3.8 C19.5,4.4 20.7,4.3 20.7,5.6 C20.7,7 19.6,6.9 19.6,7.4 L19.6,11 C19.6,11.5 20.8,11.5 20.8,12.7 C20.8,13.7 19.6,13.8 19.6,14.5 L19.6,16.5 L1.5,16.5 L1.5,14.5 C1.5,13.8 0.3,13.7 0.3,12.7 C0.3,11.5 1.5,11.4 1.5,11 L1.5,7.4 C1.5,6.8 0.4,6.9 0.4,5.6 C0.4,4.3 1.6,4.4 1.6,3.8 C1.6,3.2 1.6,2.6 1.6,2.3 L1.6,2.3 L3.9,2.3 C5.6,1.9 6.2,0.9 7.9,0.9 C8.9,0.9 9.5,1.7 10.3,1.7 L10.3,1.7 Z"
                fill="#FFFFFF"></path>
              <path
                d="M9.8,0.8 L11,0.8 C12,0.2 13,0 13.9,0.1 C14.8,0.2 15.9,1.2 17.1,1.4 C17.4,1.4 18.2,1.4 18.2,1.4 L18.2,13.9 L11.7,13.9 C11.7,14.7 10.7,14.8 10.5,14.8 C10.3,14.8 9.3,14.7 9.3,13.9 L2.8,13.9 L2.8,1.4 C2.8,1.4 3.6,1.4 3.9,1.4 C5.1,1.2 6.2,0.2 7.1,0.1 C7.8,0 8.8,0.2 9.8,0.8 L9.8,0.8 Z"
                fill="#888"></path>
              <path
                d="M3.7,12.8 L3.7,2.3 C4.9,2.1 6,1.1 6.9,1 C7.8,0.9 8.8,1.1 9.8,1.7 L9.8,11.8 C9,11.8 7.8,12.4 7.2,12.7 C6.5,12.9 3.7,12.8 3.7,12.8 L3.7,12.8 Z"
                fill="#FFFFFF"></path>
              <path
                d="M16.9,12.8 C16.9,12.8 14.1,12.9 13.5,12.6 C12.9,12.3 11.6,11.7 10.9,11.7 L10.9,1.6 C11.9,1 12.9,0.8 13.8,0.9 C14.7,1 15.8,2 17,2.2 L16.9,12.8 L16.9,12.8 Z"
                fill="#FFFFFF"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </span>

  <span>
    <svg viewBox="0 0 118 20" className="logo-helix">
      <g stroke="none" strokeWidth="1" fill="none" fillRule="evenodd">
        <path
          d="M12.9034526,10.6531736 C12.9034526,14.2160661 10.0216468,17.1044132 6.46663913,17.1044132 C2.91171391,17.1044132 0.0299081761,14.2160661 0.0299081761,10.6531736 C0.0299081761,7.09028099 2.91171391,4.20193388 6.46663913,4.20193388 C10.0216468,4.20193388 12.9034526,7.09028099 12.9034526,10.6531736 L12.9034526,10.6531736 Z"
          fill="#888"></path>
        <polygon
          fill="#888"
          points="54.5102938 14.117843 48.5227215 17.5824711 42.5351491 14.117843 42.5351491 7.18850413 48.5227215 3.72387603 54.5102938 7.18850413"
        ></polygon>
        <polygon
          fill="#888"
          points="20.0526941 4.65219835 23.5095746 10.6531901 26.9665375 16.6541818 20.0526941 16.6541818 13.1388506 16.6541818 16.5958136 10.6531901"
        ></polygon>
        <polygon
          fill="#888"
          points="33.46527 17.5825124 26.5514266 10.6531736 33.46527 3.72383471 40.3791135 10.6531736"
        ></polygon>
        <path
          d="M72.9354867,19.8926198 L72.9354867,11.2899752 L61.8019269,11.2899752 L61.8019269,19.8926198 L59.572131,19.8926198 L59.572131,0.341628099 L61.8019269,0.341628099 L61.8019269,9.16733058 L72.9354867,9.16733058 L72.9354867,0.341628099 L75.1646229,0.341628099 L75.1646229,19.8926198 L72.9354867,19.8926198 Z M94.1767813,19.8926446 L96.3223857,19.8926446 L96.3223857,0.341652893 L94.1767813,0.341652893 L94.1767813,19.8926446 Z M102.693454,1.53833058 C102.693454,2.40378512 102.080695,3.04626446 101.272506,3.04626446 C100.464318,3.04626446 99.8509816,2.40378512 99.8509816,1.53833058 C99.8509816,0.671719008 100.464318,0.0292396694 101.272506,0.0292396694 C102.080695,0.0292396694 102.693454,0.671719008 102.693454,1.53833058 Z M100.199399,19.892562 L102.345003,19.892562 L102.345003,5.1738843 L100.199399,5.1738843 L100.199399,19.892562 Z M115.211192,5.17390909 L117.607557,5.17390909 L112.703012,12.324157 L117.970133,19.8925868 L115.433669,19.8925868 L111.253781,13.8875455 L106.933876,19.8925868 L104.481603,19.8925868 L109.832256,12.324157 L104.844179,5.17390909 L107.352359,5.17390909 L111.253781,10.7596116 L115.211192,5.17390909 Z M80.0255303,13.3871488 C80.0983423,14.1405372 80.2818154,14.8106198 80.5751249,15.3979752 C80.8681047,15.9859091 81.2437092,16.4818595 81.7020208,16.8856612 C82.1598377,17.289876 82.7043199,17.597562 83.272633,17.8082231 C83.8402864,18.0197934 84.4673108,18.125 85.0903772,18.125 C86.0797301,18.125 86.9896742,17.9417769 87.6952829,17.5741736 C88.4006442,17.2071488 89.0464695,16.7202893 89.6330886,16.1142562 L90.9524457,17.2988843 C90.2378489,18.1072314 89.4223213,18.7545041 88.5061927,19.2407851 C87.5897343,19.727314 86.3910984,19.9707025 85.0352941,19.9707025 C84.0640823,19.9707025 83.116619,19.7916116 82.2555736,19.433595 C81.3939509,19.0756612 80.6115722,18.5707025 79.9703646,17.9183884 C79.3289097,17.2670661 78.82038,16.4818595 78.4451878,15.5633471 C78.069336,14.6451653 77.881575,13.635 77.881575,12.5332645 C77.881575,11.5049174 78.0509474,10.536157 78.3900222,9.62706612 C78.7288496,8.71797521 79.2009321,7.92863636 79.8056099,7.25797521 C80.4103702,6.58789256 81.1604247,6.05987603 81.9943409,5.67409091 C82.8279272,5.28838843 83.7710201,5.0957438 84.7606204,5.0957438 C85.8050565,5.0957438 86.7709083,5.29334711 87.595424,5.68780992 C88.4200222,6.08293388 89.1473178,6.6203719 89.7156309,7.29946281 C90.2832843,7.9788843 90.7139719,8.77780992 91.0072815,9.69599174 C91.3003437,10.6145041 91.4469572,11.5966529 91.4469572,12.6434298 L91.4469572,12.9602066 C91.4469572,13.0797107 91.4376393,13.2217769 91.4195806,13.3871488 L80.0255303,13.3871488 Z M89.3033318,11.6516116 C89.2482486,11.0130992 89.1108706,10.4055785 88.8910327,9.83070248 C88.6711948,9.25566116 88.373185,8.74863636 87.997663,8.31028926 C87.6218112,7.87227273 87.1324122,7.52533058 86.5921354,7.2696281 C86.0515289,7.01392562 85.401828,6.88623967 84.7055372,6.88623967 C84.1007769,6.88623967 83.501459,7.00491736 82.9702528,7.24219008 C82.438387,7.47979339 81.9399999,7.81293388 81.5370187,8.24194215 C81.1337902,8.67119835 80.7993332,9.17764463 80.5339775,9.76210744 C80.2680446,10.3468182 80.0983423,10.9762397 80.0255303,11.6516116 L89.3033318,11.6516116 Z"
          fill="#888"></path>
      </g>
    </svg>
  </span>

  <span>
    <svg viewBox="0 0 276.808 60.363" className="logo-mlb">
      <path
        d="M8.728 57.456C3.91 57.456 0 53.554 0 48.734V8.732C0 3.912 3.91 0 8.728 0L265.43.017c4.827 0 8.736 3.91 8.736 8.73v40c0 4.82-3.91 8.722-8.735 8.722L8.73 57.455z"
        fill="#FFF"></path>
      <path
        d="M269.548 4.635c-1.098-1.104-2.562-1.706-4.117-1.706h-31.107l14.39 24.006 1.32.157.764 1.102v1.04l.934.16.823 1.154v.986l.928.163.933 1.04v2.238s2.034 1.87 3.84 2.576c1.265.494 1.43 2.525 2.143 3.618.987 1.538 2.303 2.19 2.025 3.067-.652 2.357-3.063 6.306-5.306 6.524 0 0-5.59.004-8.883.004l.003 3.8h17.198c3.213 0 5.823-2.617 5.823-5.823v-40c0-1.554-.61-3.017-1.705-4.11z"
        fill="#888"></path>
      <path
        d="M225.8 2.93L8.727 2.91c-1.548 0-3.017.603-4.112 1.705-1.1 1.102-1.703 2.56-1.703 4.118v40.002c0 1.544.604 3.012 1.703 4.11 1.095 1.1 2.563 1.7 4.112 1.7l197.477.027c-.915-1.525-1.93-3.254-2.252-3.775h-4.328c-.002-10.743 3.665-16.713 7.993-17.868.606-.113.328-3.073-.443-3.946 0 0-2.08.055-2.517-.057-.55-.16-.163-.705-.163-.705l2.023-4.39-.27-1.204h-7.51l6.19-4.33c.32-11.395 11.996-12.28 19.064-7.574 4.167 2.792 4.497 8.275 4.176 12.116l-1.102.05s-.708 4.168 1.157 4.168l8.215-.01c3.34-.105 6.578 2.14 6.578 2.14l.822-2.852-18.04-23.406z"
        fill="#888"></path>
      <path
        d="M105.516 37.82c1.123 0 2.074.4 2.87 1.172.793.78 1.19 1.73 1.19 2.847 0 1.11-.397 2.065-1.19 2.848-.796.794-1.748 1.19-2.87 1.19-1.12 0-2.072-.395-2.866-1.19-.794-.784-1.187-1.737-1.187-2.85 0-1.118.392-2.065 1.187-2.846.795-.772 1.746-1.172 2.866-1.172zM132.582 28.045l-5.67 1.17c-.194-1.257-.632-2.207-1.315-2.842-.67-.637-1.553-.958-2.64-.958-1.438 0-2.59.56-3.45 1.67-.86 1.116-1.29 2.975-1.29 5.59 0 2.895.437 4.948 1.314 6.145.867 1.193 2.04 1.794 3.51 1.794 1.1 0 2-.354 2.704-1.062.697-.716 1.19-1.938 1.48-3.67l5.668 1.11c-.587 2.927-1.714 5.14-3.383 6.64-1.668 1.497-3.905 2.245-6.71 2.245-3.186 0-5.724-1.125-7.62-3.385-1.89-2.252-2.84-5.373-2.84-9.364 0-4.036.952-7.175 2.848-9.42 1.9-2.25 4.468-3.372 7.703-3.372 2.647 0 4.755.632 6.32 1.9 1.567 1.273 2.69 3.21 3.372 5.81zM142.594 27.526c1.03-1.288 2.3-1.936 3.803-1.936 1.512 0 2.77.648 3.794 1.936 1.022 1.296 1.53 3.135 1.53 5.536 0 2.453-.508 4.328-1.53 5.618-1.022 1.294-2.28 1.934-3.793 1.934-1.502 0-2.773-.64-3.803-1.934-1.025-1.29-1.536-3.15-1.536-5.58 0-2.422.51-4.278 1.536-5.574zm-6 12.376c.937 1.955 2.32 3.445 4.13 4.453 1.813 1.015 3.716 1.52 5.714 1.52 3.226 0 5.902-1.21 8.03-3.65 2.124-2.427 3.183-5.49 3.183-9.19 0-3.666-1.052-6.702-3.153-9.1-2.106-2.402-4.805-3.6-8.1-3.6-2.135 0-4.062.53-5.795 1.586-1.73 1.058-3.07 2.594-4.006 4.6-.94 2.015-1.417 4.09-1.417 6.243-.002 2.798.474 5.186 1.415 7.14zM159.94 21.386h5.303v3.34c1.905-2.58 4.17-3.87 6.794-3.87 1.398 0 2.612.327 3.633.97 1.025.65 1.87 1.628 2.525 2.933.96-1.306 1.994-2.285 3.1-2.933 1.11-.644 2.29-.97 3.552-.97 1.593 0 2.953.37 4.068 1.095 1.1.73 1.928 1.803 2.474 3.214.397 1.046.594 2.733.594 5.065v15.646h-5.775v-13.97c0-2.423-.19-3.988-.595-4.696-.53-.922-1.354-1.383-2.46-1.383-.804 0-1.56.275-2.272.833-.716.55-1.224 1.364-1.534 2.424-.32 1.068-.473 2.748-.473 5.052v11.74H173.1V32.484c0-2.382-.098-3.92-.303-4.606-.212-.695-.528-1.203-.956-1.544-.433-.337-1.01-.506-1.747-.506-.896 0-1.69.265-2.394.805-.715.534-1.22 1.312-1.528 2.324-.31 1.015-.456 2.697-.456 5.04v11.88h-5.78v-24.49h.003zM84.488 18.11c1.496 0 3.513.314 4.242.93.737.624 1.108 1.465 1.108 2.524 0 1.135-.394 2.03-1.165 2.688-.77.66-2.854.99-4.442.99h-3.228V18.11h3.486zm2.305 27.767c2.746 0 4.9-.39 6.453-1.17 1.562-.775 2.83-1.95 3.818-3.52.983-1.564 1.48-3.302 1.48-5.206 0-1.986-.473-3.7-1.425-5.16-.95-1.45-2.448-2.662-4.497-3.633 1.22-.92 2.106-1.906 2.648-2.955.543-1.053.817-2.224.817-3.51 0-1.977-.604-3.694-1.805-5.157-1.204-1.457-2.824-2.45-4.864-2.99-1.428-.393-6.402-.603-9.504-.603h-5.35v33.905h12.23zm-2.637-14.85c2.57 0 5.31.427 6.413 1.278 1.11.847 1.66 2 1.66 3.462 0 1.292-.47 2.275-1.413 2.957-.942.676-3.67 1.013-6.38 1.013h-3.435v-8.71h3.154zM13.484 45.877V12.092h10.224l6.11 23.037L35.82 12.09h10.272v33.785h-6.31l-.028-26.592-6.682 26.592H26.5l-6.677-26.592-.026 26.592h-6.313M49.685 11.972h6.432v27.765H70.98v6.14H49.686V11.972M275.846 58.08c0-.527-.307-.612-.764-.612h-.96v1.983h.413v-.787h.343l.458.788h.453l-.477-.787c.35-.035.533-.228.533-.582zm-.756.226h-.555v-.485h.458c.2 0 .447 0 .447.22 0 .215-.128.266-.35.266z"
        fill="#FFF"></path>
      <path
        d="M274.916 56.562c-1.06 0-1.892.847-1.892 1.91 0 1.043.833 1.89 1.892 1.89 1.057 0 1.892-.846 1.892-1.89 0-1.062-.835-1.91-1.892-1.91zm0 3.39c-.816 0-1.475-.636-1.475-1.48 0-.857.66-1.494 1.476-1.494.807 0 1.476.637 1.476 1.493 0 .846-.67 1.482-1.476 1.482z"
        fill="#FFF"></path>
    </svg>
  </span>

  <span>
    <svg viewBox="0 0 199.3 42.5" className="logo-technically">
      <polygon fill="#fff" points="191,25.2 195.9,25.2 193.5,14.4"></polygon>
      <path
        fill="#fff"
        d="M172.9,14.2h-3v16.2h3c2.1,0,3.2-1.3,3.2-4.1v-7.9C176.2,15.5,175.1,14.2,172.9,14.2z"
      ></path>
      <polygon fill="#fff" points="98.3,25 100.8,25 99.6,16.8"></polygon>
      <polygon
        fill="#888"
        points="144.7,25.1 139.6,12 139.6,12 139.6,12 134.8,12 132.8,21.2 130.7,12 125.9,12 130.6,26.7
    130.6,32.4 134.9,32.4 134.9,26.8 137.5,18.8 137.5,32.4 139.6,32.4 139.6,17.8 144.2,28.7 145.3,28.7 149.8,17.8 149.8,32.4
    152,32.4 152,12 149.8,12"
      ></polygon>
      <polygon
        fill="#888"
        points="158,22.8 163.3,22.8 163.3,20.9 158,20.9 158,14.2 164.7,14.2 164.7,12 155.6,12
    155.6,32.4 165,32.4 165,30.3 158,30.3"
      ></polygon>
      <path
        fill="#888"
        d="M172.9,12h-5.4v20.4h5.4c3.6,0,5.6-2.3,5.6-6.2v-8C178.5,14.3,176.5,12,172.9,12z M176.2,26.2
    c0,2.8-1.1,4.1-3.2,4.1h-3V14.2h3c2.2,0,3.2,1.3,3.2,4.2V26.2z"
      ></path>
      <rect x="182" y="12" fill="#888" width="2.4" height="20.4"></rect>
      <path
        fill="#888"
        d="M194.8,12h-2.8l-5.2,20.4h2.4l1.2-5.3h5.8l1.2,5.3h2.4L194.8,12z M191,25.2l2.5-10.8l2.5,10.8H191z"
      ></path>
      <polygon
        fill="#888"
        points="10.7,16.1 14,16.1 14,32.4 18.4,32.4 18.4,16.1 21.7,16.1 21.7,12 10.7,12"
      ></polygon>
      <polygon
        fill="#888"
        points="27.6,23.7 31.4,23.7 31.4,20.2 27.6,20.2 27.6,16 32.8,16 32.8,12 23.2,12 23.2,32.4
    32.9,32.4 32.9,28.5 27.6,28.5"
      ></polygon>
      <path
        fill="#888"
        d="M40.1,29c-1.1,0-1.5-0.8-1.5-2.2v-8.7c0-1.7,0.4-2.5,1.5-2.5c0.9,0,1.4,0.6,1.6,2.2l3.3-1.1
    c-0.4-3-2.4-5-5.3-5c-3.3,0-5.5,2.4-5.5,6.4v8.7c0,3.6,2.1,5.9,5.5,5.9c3.1,0,4.8-1.6,5.3-5l-3.4-1C41.5,28.4,41,29,40.1,29z"
      ></path>
      <polygon
        fill="#888"
        points="53.9,19.9 51,19.9 51,12 46.6,12 46.6,32.4 51,32.4 51,24 53.9,24 53.9,32.4 58.3,32.4
    58.3,12 53.9,12"
      ></polygon>
      <polygon
        fill="#888"
        points="68.6,21.8 63.9,12 60.7,12 60.7,32.4 64.5,32.4 64.5,22.1 69.5,32.4 72.4,32.4 72.4,12
    68.6,12"
      ></polygon>
      <rect x="75" y="12" fill="#888" width="4.4" height="20.4"></rect>
      <path
        fill="#888"
        d="M87.4,29c-1.1,0-1.5-0.8-1.5-2.2v-8.7c0-1.7,0.4-2.5,1.5-2.5c0.9,0,1.4,0.6,1.6,2.2l3.3-1.1
    c-0.4-3-2.4-5-5.3-5c-3.3,0-5.5,2.4-5.5,6.4v8.7c0,3.6,2.1,5.9,5.5,5.9c3.1,0,4.8-1.6,5.3-5l-3.4-1C88.8,28.4,88.3,29,87.4,29z"
      ></path>
      <path
        fill="#888"
        d="M97,12l-4.3,20.4h4.4l0.6-4.1h3.6l0.7,4.1h4.5L102.2,12H97z M98.3,25l1.3-8.1l1.3,8.1H98.3z"
      ></path>
      <polygon
        fill="#888"
        points="112.1,12 107.8,12 107.8,32.4 117.1,32.4 117.1,28.4 112.1,28.4"
      ></polygon>
      <polygon
        fill="#888"
        points="122.9,12 118.6,12 118.6,32.4 127.9,32.4 127.9,28.4 122.9,28.4"
      ></polygon>
      <polygon fill="#888" points="8.1,25.2 11.8,23.2 11.8,18.2 8.1,20.3"
      ></polygon>
      <polygon fill="#888" points="4.8,28.3 4.8,33.5 11.8,29.6 11.8,24.5"
      ></polygon>
      <polygon fill="#888" points="0.1,37.4 0,42.6 11.7,36.1 11.7,31.1"
      ></polygon>
      <rect x="12.6" fill="#888" width="1.8" height="10"></rect>
    </svg>
  </span>

  <span>
    <svg viewBox="0 0 143 71" className="logo-samsung">
      <path
        fill="#888"
        d="M159.371,91.242v10.629h10.793V135h10.988V101.871H192V91.242H159.371Zm-84.357,0v23.237L60.2,91.242H49V135H59.987V110.9L75.293,135H86V91.242H75.014ZM88.488,135h27.425V124.37H99.474v-6.046h16.439V107.7H99.474V101.87h16.439V91.242H88.488V135Zm54.455-43.757h14.484l-7.366,11.59Zm0,43.757h14.484l-7.366-11.591ZM54.433,69.907a2.529,2.529,0,0,1-.021-1.072,1.685,1.685,0,0,1,1.871-1.373,1.744,1.744,0,0,1,1.9,1.851v1.262h5.1V69.143c0-4.436-4.01-5.143-6.9-5.143-3.632,0-6.6,1.2-7.142,4.533a7.031,7.031,0,0,0,.04,2.749c0.886,4.169,8.151,5.375,9.208,8.012a2.617,2.617,0,0,1,.039,1.506,1.768,1.768,0,0,1-2,1.378,1.82,1.82,0,0,1-2.041-1.857L54.485,78.36H49v1.559c0,4.558,3.589,5.931,7.431,5.931,3.694,0,6.727-1.256,7.221-4.669a10.062,10.062,0,0,0-.022-3.338c-0.862-4.28-8.616-5.547-9.2-7.935m66.485,0.051A2.708,2.708,0,0,1,120.9,68.9a1.674,1.674,0,0,1,1.852-1.365,1.724,1.724,0,0,1,1.873,1.837v1.247h5.04V69.2c0-4.394-3.949-5.085-6.809-5.085-3.6,0-6.541,1.185-7.079,4.49a6.794,6.794,0,0,0,.049,2.718c0.876,4.122,8.07,5.319,9.115,7.926a2.752,2.752,0,0,1,.038,1.495,1.734,1.734,0,0,1-1.97,1.361,1.807,1.807,0,0,1-2.038-1.829l0-1.957h-5.425v1.556c0,4.506,3.539,5.867,7.352,5.867,3.651,0,6.666-1.244,7.151-4.618a9.951,9.951,0,0,0-.036-3.306c-0.846-4.228-8.514-5.5-9.094-7.859m46.42,11.11-4.813-16.418h-7.588V84.83h5.019l-0.291-16.944,5.17,16.944h7.276V64.651h-5.052ZM70.886,64.651L67.1,85.043h5.523l2.853-18.879L78.26,85.043h5.484L79.973,64.651H70.886Zm30.878,0-2.579,15.94-2.577-15.94H88.267L87.826,85.043h5.11l0.138-18.879,3.515,18.879h5.184l3.519-18.879,0.138,18.879h5.123L110.1,64.651h-8.331Zm47.505,0H144.1V79.736a3.492,3.492,0,0,1-.046.775,2.033,2.033,0,0,1-3.914,0,3.361,3.361,0,0,1-.052-0.775V64.651h-5.168V79.269c-0.006.377,0.023,1.147,0.046,1.347,0.357,3.81,3.366,5.047,7.124,5.047s6.773-1.237,7.136-5.047a10.584,10.584,0,0,0,.044-1.347V64.651Zm35.5,8.946V76.57h2.095v2.951a3.71,3.71,0,0,1-.054.775,2.21,2.21,0,0,1-4.177,0,4.991,4.991,0,0,1-.053-0.775V70.2a4.167,4.167,0,0,1,.092-0.963,2.144,2.144,0,0,1,4.075,0,5.254,5.254,0,0,1,.063.787v1.131h5.149V70.487a12.239,12.239,0,0,0-.039-1.35c-0.388-3.825-3.547-5.036-7.17-5.036s-6.726,1.222-7.176,5.036c-0.04.35-.1,0.977-0.1,1.35V79.06a11.665,11.665,0,0,0,.081,1.345c0.337,3.721,3.569,5.04,7.183,5.04,3.638,0,6.847-1.319,7.19-5.04,0.06-.682.066-0.971,0.075-1.345V73.6h-7.231Z"
        transform="translate(-49 -64)"></path>
      <path
        fill="#888"
        d="M144.292,113.194h0l0.024-.039L130.522,91.308H118.157l13.294,21.845-0.024.039L118.157,135h12.424Z"
        transform="translate(-49 -64)"></path>
    </svg>
  </span>
</div>

<style lang="scss">
  .brands {
    align-items: center;
    border-bottom: 1px dotted #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem auto 1rem;
    padding: 0 0 4rem;

    @media all and (min-width: 768px) {
      flex-wrap: nowrap;
    }

    span {
      align-items: center;
      display: flex;
      flex: 0 1 50%;
      justify-content: center;
      margin-bottom: 3rem;

      @media all and (min-width: 768px) {
        flex: 1 1 100%;
        margin-bottom: 0;
      }
    }

    svg {
      width: 90px;
    }

    .logo-ted {
      width: 70px;
    }

    .logo-mlb {
      width: 100px;
    }

    .logo-technically {
      width: 110px;
    }

    .logo-wharton {
      width: 100px;
    }

    .logo-samsung {
      width: 60px;
    }

    @media all and (min-width: 767px) and (max-width: 959px) {
      svg {
        width: 70px;
      }
      .logo-ted {
        width: 50px;
      }
      .logo-mlb {
        width: 80px;
      }
      .logo-technically {
        width: 90px;
      }
      .logo-wharton {
        width: 80px;
      }
      .logo-samsung {
        width: 40px;
      }
    }
  }
</style>
