---
---

<form
  class="contact-form"
  name="astro-contact"
  method="POST"
  data-netlify="true"
>
  <p class="error-message">Uh oh. Please fill in the fields below.</p>
  <fieldset>
    <legend>Contact form fields</legend>
    <p>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" />
    </p>
    <p>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" />
    </p>
    <p>
      <label for="phone">Phone</label>
      <input type="tel" name="phone" id="phone" />
    </p>
    <p>
      <label for="website">Website</label>
      <input type="tel" name="website" id="website" />
    </p>
    <p>
      <label for="description">Brief description of project</label>
      <textarea name="description" id="description"></textarea>
    </p>

    <button type="submit" class="button button-submit">Send</button>
  </fieldset>
</form>

<style lang="scss">
  .contact-form {
    margin-top: 4rem;
    margin-bottom: 4rem;

    fieldset {
      border: 0;
      margin: 0;
      padding: 0;
    }

    legend {
      display: none;
    }

    p {
      margin-bottom: 2rem;
    }

    input,
    button:not([type="submit"]),
    textarea {
      background-image: linear-gradient(
        rgba(163, 163, 167, 0.08),
        rgba(163, 163, 167, 0.16)
      );
      border: 0;
      border-bottom: 4px solid var(--color-border);
      border-bottom-right-radius: 8px;
      border-right: 4px solid var(--color-border);
      border-top-left-radius: 8px;
      font-family: var(--font-default);
      font-size: 0.8rem;
      color: var(--color-gray-medium);
      outline: none;
      padding: 14px;
      width: 87%;

      @media all and (min-width: 960px) {
        font-size: 1.3rem;
        padding: 20px;
        width: 98%;
      }
    }

    textarea {
      min-height: 220px;
      resize: none;
    }

    [type="submit"] {
      font-family: var(--font-default);
      font-size: 1.4rem;
      outline: none;
      border: none;
      padding: 18px 36px;
    }

    input.error-field,
    textarea.error-field {
      border-color: var(--color-error);
    }

    input.error-field::-webkit-input-placeholder,
    textarea.error-field::-webkit-input-placeholder {
      color: var(--color-error);
    }

    label {
      color: var(--color-gray-medium);
      display: block;
      font-size: 0.9rem;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 2px 2px 0;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
    }

    .error-message {
      color: var(--color-error);
    }

    &.thanks form,
    &.thanks p {
      display: none;
    }

    &.thanks .thanks-message {
      display: block;
    }

    .error-message,
    .thanks-message {
      display: none;
    }

    .error-message.active,
    .thanks-message.active {
      color: var(--color-red);
      display: block;
      margin-bottom: 3rem;
    }
  }
</style>
