---
---

<div class="image">
  <img src="/ubahn.jpg" />
</div>
<style lang="scss">
  .image img {
    border-bottom: 4px solid var(--color-border);
    border-bottom-right-radius: 30px;
    border-right: 4px solid var(--color-border);
    border-top-left-radius: 30px;
    display: block;
    margin: 0 0 1.6rem;
    max-width: 100%;
  }
</style>
