---
---

<h1>Hey. I'm Tom Rose, a WordPress developer based in Philadelphia.</h1>
<p>
  I've delivered successful projects for small businesses, non-profits,
  startups, and global brands for over 15 years.
  <a href="/contact">Let's work together!</a>
</p>

<style lang="scss">
  h1 {
    font-size: 4rem;
    line-height: 1.3;
    letter-spacing: -1.3px;
  }

  p {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.2rem;
    color: #888;
    max-width: 980px;
  }
</style>
